/*@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');*/
@font-face{
	font-family: "Realtime rounded";
	src: url("../fonts/realtime-rounded/realtime-rounded-regular.woff2") format("woff2"),
		url("../fonts/realtime-rounded/realtime-rounded-regular.woff") format("woff"),
		url('../fonts/realtime-rounded/realtime-rounded-regular.ttf') format('truetype');;
	font-weight:300;
}
@font-face{
	font-family: "Realtime rounded";
	src: url("../fonts/realtime-rounded/realtime-rounded-light.woff2") format("woff2"),
		url("../fonts/realtime-rounded/realtime-rounded-light.woff") format("woff"),
		url('../fonts/realtime-rounded/realtime-rounded-light.ttf') format('truetype');;
	font-weight:200;
}
@font-face{
	font-family: "Realtime rounded";
	src: url("../fonts/realtime-rounded/realtime-rounded-semibold.woff2") format("woff2"),
		url("../fonts/realtime-rounded/realtime-rounded-semibold.woff") format("woff"),
		url('../fonts/realtime-rounded/realtime-rounded-semibold.ttf') format('truetype');;
	font-weight:400;
}
@font-face{
	font-family: "Realtime rounded";
	src: url("../fonts/realtime-rounded/realtime-rounded-bold.woff2") format("woff2"),
		url("../fonts/realtime-rounded/realtime-rounded-bold.woff") format("woff"),
		url('../fonts/realtime-rounded/realtime-rounded-bold.ttf') format('truetype');;
	font-weight:600;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing:border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration:none;
	color:inherit;
}

body{
	/* --primary:#EF224C; */
	--primary:#ef244c;
	--secondary:#1ae7f0;
	--secondary-dark:#1fc2b9;
	--middle:#F88B62;
	--light:#b7d0e0;
	/* --dark1:#000024; */
	--dark1:#020b15;
	--dark2:#4829a1;
	--dark3:#052e4c;
	--grey:#33334f;

	--font1:'Realtime rounded', monospace;
	--font2:-apple-system, Helvetica Neue, sans-serif;

	--full:100%;
	--large:1115px;
	--medium:940px;
	--restreint:720px;

	counter-reset: section;

	background:#020b15;
	font-family:'Realtime rounded', monospace;
	color:#b7d0e0;
	border:1rem solid #ef244c;
}
::selection{
	background:var(--primary);
	text-shadow:none;
}
::-moz-selection{
	background:var(--primary);
	text-shadow:none;
}

@keyframes blink{
  0%,
  35%,
  100%{
    background:var(--dark2);
    color:var(--secondary);
    box-shadow:0 0 0 var(--primary);
  }
  45.1%,
  95%{
    background:var(--primary);
    color:var(--dark1);
    box-shadow:0 0 2em -.25em var(--primary);
  }
}
@keyframes fadein{
	0%{
		opacity:.5;
	}
	70%{
		opacity:1;
		text-shadow:0 0 8px var(--dark2);
	}
	100%{
		text-shadow:0 0 0 transparent;
	}
}

hr{
	border:none;
	border-bottom:1px solid #33334f;
	margin:0;
}

.inner,.large{
	max-width:100%;
	margin-left:auto;
	margin-right:auto;
}

.large{
	max-width:1115px;
}

.menu,.headline,.counters{
    display:-ms-flexbox;
	display:flex;
    flex-flow:row;
    -ms-flex-pack:justify;
	justify-content:space-between;
}

.headline{
	padding:1.5rem 0;
}

.logo{
	font-size: 2.5rem;
    vertical-align: middle;
    align-self: center;
    font-weight: 600;
    margin-right: 3rem;
}

.logo span{
	color:#ef244c;
}

.slogan{
	text-transform:uppercase;
	line-height:1.8;
	padding:1rem 0;
	font-size:.95rem;
}

.slogan strong{
	background: #ef244c;
	color: #020b15;
	box-shadow: -2px 0 0px 2px #ef244c,
				2px 0 0px 2px #ef244c;
	box-decoration-break: clone;
}

.menu{
    max-width:calc(1115px + 2rem );
	flex-wrap:nowrap;
}

.menu > li{
	padding:.75rem 0;
}

.menu a{
	display:block;
	text-decoration:none;
	font-size:1.25rem;
	padding:.75rem;
	white-space:nowrap;
}
.menu a::after{
	content:'.';
	color:#ef244c;
}

.menu a:hover,
.menu a:focus,
.menu a:hover::after,
.menu a:focus::after{
	background:#ef244c;
	color:black;
}

.menu .important a{
	text-transform:uppercase;
	color:#ef244c;
}
.menu .important a:hover,
.menu .important a:focus{
	box-shadow:inset 0 0 0 2px #ef244c;
	background:none;
}
.menu .important a::after{
	display:none;
}

@media (min-width:981px) {
	.menu > li{
		position:relative;
	}

	.sub-menu{
		display:none;
		position:absolute;
		top:100%;
		z-index:100;
		right:0;
		background:#020b15;
		border:2px solid #ef244c;
		border-top:0;
		margin:-.75rem -2px 0 -2px;
		left:0;
		padding-top:.5rem;
	}

	.sub-menu a {
		font-size:1.05rem;
	}

	li:hover .sub-menu,
	li:focus .sub-menu{
		display:block;
	}
	li.menu-item-has-children:hover > a,
	li.menu-item-has-children:focus > a{
		border:2px solid #ef244c;
		border-bottom:0;
		margin:-2px -2px 0 -2px;
	}
}

@media (max-width:980px) {
	.sub-menu,
	.sub-menu > li,
	.menu > li{
		display:inline-flex;
	}

	.menu a[href="#"]{
		display:none;
	}
}

.cta{
	background-image:linear-gradient(110deg, #F88B62, #F88B62 30%, #ef244c );
	box-shadow:	0 4px 8px 0 rgba(328,51,63,.2);
	color:#020b15;
	font-size:1.2rem;
	display:inline-block;
	padding:.75rem 1.5rem;
	text-transform:uppercase;
	align-self:center;
	border-radius:2px;
	margin-left:auto;
	transition:all .4s;
	position: relative;
	overflow: hidden;
	font-weight:bold;
}

.cta span{
	position:relative;
	z-index:1;
}

.cta::before{
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:block;
	background-image:linear-gradient(110deg, #ef244c, #F88B62 70%, #F88B62 );
	opacity:0;
	transition:all .5s;
}

.cta:hover,
.cta:focus{
	box-shadow: 0 0 8px #ef244c,
				0 4px 8px 0 rgba(328,51,63,.2);
}
.cta:hover::before,
.cta:focus::before{
	opacity:1;
}

.header-wrapper{
	background:#020b15;
}

.counter{
	padding:2rem;
}

.counter > *{
	display:inline-block;
	vertical-align:middle;
}

.counter span{
	text-transform:uppercase;
	margin-left:.5rem;
	font-weight:200;
	line-height:1.2;
}

.counter span i {
    display: block;
}

.amount{
	font-size:3.75rem;
	color:white;
	font-weight:bold;
	animation:1s fadein 1;
}

.titre{
	color:#ef244c;
	font-size:2.75rem;
	line-height:1.5;
	text-align:center;
	text-transform:uppercase;
	font-weight:600;
	position:relative;
	padding:3rem 0 2rem;
}

.titre::before,
.titre::after{
	counter-increment: section;
	content:"0" counter(section);
	position:absolute;
	left:50%;
	top:0;
	transform:translateX(-50%);
	font-size:1.4rem;
}
.titre::after{
	content:'';
	counter-increment: none;
	top:auto;
	bottom:0;
	width:2rem;
	border-bottom:2px solid;
}

.widget .titre{
	margin-bottom:2rem;
	margin-top:-1.5rem;
	padding-top:0;
	padding-bottom:1rem;
}

.widget .titre::before{
	display:none;
}

.widget{
	text-align:center;
}

.description{
	padding:6rem 0;
}

.impact,
.temoignages-wrapper,
.actus{
	margin:15rem auto;
}

.single .impact,
.single .temoignages-wrapper,
.single .actus{
	margin:1rem auto;
}

.single .description{
	padding:1rem 0;
}

.impact .cta{
	margin-top:2rem;
	background:#b7d0e0;
	padding:.25em 1em;
	transition:none;
}

.impact .cta::before{
	display:none;
}

.impact .cta:hover,
.impact .cta:focus,
form button:hover,
form input[type="submit"]:hover,
form button:focus,
form input[type="submit"]:focus{
	background-color:#ef244c;
	box-shadow: 0 0 8px #ef244c,
				0 4px 8px 0 rgba(328,51,63,.2);
}

.impact .important {
	font-size: 1.9rem;
	text-transform: uppercase;
	text-align: center;
	line-height: 2;
	color:black;
	padding:2rem 0;
	font-weight:400;
}

.impact .important p{
	display:inline;
	background:#ef244c;
	box-shadow:-.25em 0 0 .2em #ef244c,
				.25em 0 0 .2em #ef244c;
	box-decoration-break: clone;
}

.social{
	padding:4rem 0;
}

.newsletter-form{
	text-align:center;
	margin-top:3rem;
}

.newsletter-form p{
	font-family:-apple-system, Helvetica Neue, sans-serif;
	font-size:1.2rem;
	line-height:1.5;
	font-weight:500;
}

.myset{
	position:relative;
	z-index:0;
}
.myset label{
	position:absolute;
	top:0;
	left:0;
	padding:.5em 1em;
	border:2px solid transparent;
	color:#b7d0e0;
	font-size:1em;
	line-height:1.5;
	display:block;
	z-index:-2;
	text-transform:uppercase;
}
.myset input{
	font-family:inherit;
	margin:auto;
	background:transparent;
	border:2px solid;
	color:#b7d0e0;
	padding:.5em 1em;
	font-size:1em;
	width:100%;
	/* caret-color:var(--secondary); */
	caret-color:transparent;
	outline:none;
	line-height:1.5;
	box-sizing:border-box;
	text-transform:uppercase;
}
.newsletter-form form{
	width:400px;
	max-width:100%;
	margin:2rem auto 0;
}
.input-wrap{
	position:relative;
	z-index:0;
	overflow:hidden;
}

.input-wrap > input,
.input-wrap > textarea{
	display:block;
}

.input-wrap input:focus + .caret,
.input-wrap textarea:focus + .caret{
	display:inline-block;
}
.myset input:focus{
	border-color:#ef244c;
}

.caret{
    display:none;
    width:.5em;
    height:1.65em;
	background-color:var(--secondary);
	--dark2:transparent;
    position:absolute;
	top:.5em;
	left:1em;
    animation: blink 1s infinite reverse;
    z-index:-1;
}

form button,
form input[type="submit"]{
	background:#b7d0e0;
	color:black;
	font-size:inherit;
	border:none;
	border-radius:0;
	font-family:inherit;
	padding:.65rem 1rem;
	cursor:pointer;
	text-transform:uppercase;
	position:relative;
	width:100%;
	margin-top:1.5rem;
	transition:all .5s;
	font-weight:bold;
	transition:none;
}

.frm_forms select{
	width: 100%;
    height: 2.76rem;
    border: 2px solid white;
    font-size: 1rem;
    border-radius: 2px;
    background: transparent;
	color: white;
	box-sizing:border-box;
}

/* 
form button:hover:after,
form input[type="submit"]:hover:after{
	content:attr(data-text);
	position:absolute;
	top:0;
	left:1rem;
} */

.form{
	margin-top:1rem;
}

.inline-form{
    display:-ms-flexbox;
	display:flex;
}

.image-full-wrapper{
	/* display:grid;
	grid-template-columns:4rem repeat(3, 1fr) 4rem;
    grid-template-rows: 20% 60% 20%; */
	color:white;
    background:#020b15;
    position:relative;
}

.image-full{
	/* grid-column:2 / -2;
    grid-row:1 / -1; */
    padding:0 4rem;
	width:100%;
    height:auto;
}

.hgroup{
    max-width:60%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
	/* grid-column:3;
	grid-row:2; */
}

.hgroup h1{
	font-size:6rem;
    font-weight:bold;
}

.hgroup .baseline,
.hgroup .emphase{
	font-size: 2.2rem;
	text-transform: uppercase;
	line-height:1.2;
	margin-top:1rem;
}

.hgroup .emphase{
	font-size: 1.9rem;
	margin-left:.25em;
	line-height:1.35;
	font-weight:bold;
}

.hgroup .emphase span{
	color:#020b15;
	background-color:#ef244c;
	box-shadow: -.25em 0 0 0 #ef244c,
				.25em 0 0 0 #ef244c;
	box-decoration-break: clone;
}

.service{
	width:700px;
	max-width:100%;
	margin:3rem auto 0;
	line-height:1.5;
	font-size:1.2rem;
	color:#b7d0e0;
	font-family:-apple-system, Helvetica Neue, sans-serif;
}

.titre-secondaire{
	font-size:2.5rem;
	color:#ef244c;
	font-weight:500;
	margin-bottom:1.5rem;
}

.titre-secondaire img{
	margin-right:2rem;
	vertical-align:bottom;
}

.temoignage{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-direction:row-reverse;
	flex-flow:row-reverse;
	line-height:1.6;
	width: 750px;
    margin: 6rem auto;
	transform: translateX(50px);
	max-width:90%;
}

.temoignage:nth-child(even){
	width: 960px;
	transform: translateX(0px);
}

.temoignage > div::before {
    content: '«';
    display: block;
	margin:-1rem 0 .25rem;
	font-size:2.75rem;
	color:#1ae7f0;
	text-shadow:0 0 .25em #33334f;
}

.temoignage:nth-child(even) > div::before{
	margin-top:2rem;
}

.temoignage-nom,
.temoignage-role{
	margin-left: -4.5rem;
    z-index: 1;
    position: relative;
	color:#1ae7f0;
	display: inline;
	background:#4829a1;
	padding: 0 0 .1em;
	line-height: 1;
	box-shadow:-6px 0 0 #4829a1,
				6px 0 0 #4829a1;
	text-transform:uppercase;
	box-decoration-break: clone;
}

.temoignage-nom + div{
	margin-top:.4em;
}

.temoignage-nom{
	color:white;
	font-size:1.8rem;
	font-weight:400;
	margin-bottom:.1em;
}

/* .temoignage-nom::after{
	content:'\A';
	display:block;
} */

.temoignage .texte{
	margin-top:1.8em;
	font-family:-apple-system, Helvetica Neue, sans-serif;
	font-size:1.1rem;
}

.temoignage .texte a{
	box-shadow:0 2px 0 #0d8a91;
}

.temoignage .texte a:hover,
.temoignage .texte a:focus{
	box-shadow:0 2px 0 white;
}

.temoignage:nth-child(odd) canvas{
	width:270px;
	height:335px;
}

.temoignage:nth-child(even) canvas{
	width:360px;
	height:460px;
}

.portrait, .temoignage canvas{
	margin-right:2rem;
}

.actus,
.block-sidebar-wrapper{
	overflow:hidden;
}

.actus .titre{
	margin-bottom:6rem;
}

.actu{
	float:left;
	width:65%;
	overflow:hidden;
}

.actu img{
	width:100%;
	height:auto;
}

.actu ~ .actu{
	width:30%;
	margin-left:2.5%;
	margin-bottom:2.5rem;
}

.actus.with-sidebar{
	float:left;
	width:65%;
}

.actus.with-sidebar + .sidebar{
	float:right;
	width:30%;
	margin:6rem 0 6rem 2.5%;
}

.actus.with-sidebar{
	margin:6rem auto;
}

.actus.with-sidebar .actu{
	width:100%;
	margin-left:0;
	margin-bottom:2.5rem;
}

.actu .link{
	position:relative;
	height:0;
	display:block;
	margin:.8em .5em;
	font-size:2.5rem;
	max-width:65%;
}

.actu .link::before{
	content:'';
	display:block;
	position:absolute;
	top:-600px;
	right:-600px;
	bottom:-600px;
	left:-600px;
}

.actu ~.actu .link{
	font-size:2rem;
	max-width:100%;
}

.actu h3{
	position:absolute;
	left:0;
	bottom:0;
	font-weight:400;
	line-height: 1.4;
	text-transform:uppercase;
}

.actu h3 span,
.titre-single h1{
	display:inline;
	background:#4829a1;
	color:#1ae7f0;
	padding:0 0 .1em;
	box-shadow:-.3em 0 0 #4829a1,
				.3em 0 0 #4829a1;
	box-decoration-break: clone;
}

.actu .texte{
	padding-top:1.5rem;
	line-height:1.7;
	font-family:-apple-system, Helvetica Neue, sans-serif;
	font-size:1.1rem;
}

.actu .texte div:last-child::after{
	content:attr(data-more);
	display:inline-block;
	color:#ef244c;
	border-left:3px solid #ef244c;
	border-right:2px solid transparent;
	text-transform:uppercase;
	padding:.25em 1em;
	font-size:.9rem;
	margin-top:2rem;
	font-family:'Realtime rounded', monospace;
	background-image:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="500" height="100" viewBox="0 0 1 1"><rect width="1" height="1" fill="%23ef244c"/></svg>');
	background-position:-500px 0;
	background-repeat:no-repeat;
	transition: all .5s;
}

.actu .metas{
	padding:1rem;
}

.metas a{
	color:#1fc2b9;
	position:relative;
	z-index:2;
}

.metas a:hover,
.metas a:focus{
	text-decoration:underline;
}

.metas a[rel*="tag"]::before {
    content: '@';
}

.pipe{
	border-left:1px solid #33334f;
	height:1rem;
	margin:0 1rem;
}

.actu .link:hover ~ .texte div:last-child::after,
.actu .link:focus ~ .texte div:last-child::after{
	color:black;
	/* background:var(--primary); */
	/* border-color:var(--primary); */
	background-position:0 0;
}

.footer{
	text-align:center;
	margin:4rem auto 20rem;
}

.footer .title{
	text-transform:uppercase;
	margin-bottom:1.8rem;
}

.footer small{
	display: block;
	color:#875eff;
	margin-top:6rem;
	font-size:1.1em;
}

.menu-footer li {
    display: inline;
    text-transform: uppercase;
}

.menu-footer {
    display: inline;
}

.menu-footer li + li::before {
    content: ' | ';
}

.menu-footer li a:hover{
	color:white;
}

.footer .social-link{
	overflow:hidden;
	position:relative;
	display:inline-block;
	margin:0 .5rem;
}

.footer .social-link span{
	position:absolute;
	text-indent:99px;
}

.footer .social-link:hover path,
.footer .social-link:focus path{
	fill:#1ae7f0;
}

.glitched{
	margin:0 calc(2rem - 10px) 0 -10px;
}

/**
 * Article
 */
.image-article-wrapper{
	padding:0 40px;
	position:relative;
	margin-bottom:4rem;
	z-index:1;
}

.image-article-wrapper img{
	display:block;
	width:100%;
	height:auto;
}

.titre-single{
	position:absolute;
	bottom:-.65em;
	width: calc( 1115px * .7);
	left:50%;
	transform:translateX( calc( 1115px / -2 ) );
	text-transform:uppercase;
	font-size:4rem;
	line-height:1.4;
	font-weight:400;
}

.content-wrapper{
	font-size:1.2rem;
	width:720px;
	margin:0 auto;
	position:relative;
}

.content-wrapper .metas{
	padding:2rem 0 4rem;
	text-transform:uppercase;
}

.text{
	font-family:-apple-system, Helvetica Neue, sans-serif;
	line-height:1.65;
	color:#b7d0e0;
}

.text * + p,
.text * + h3,
.text * + h2,
.text * + img,
.text * + blockquote,
.text * + ul,
.text * + .frm_forms,
.text * + ol{
	margin-top:2rem;
}

.text form * + *{
	margin-top:0;
}

.text li + li{
	margin-top:0;
}

.text li{
	position: relative;
	padding-left:1.65rem;
}

.text li::before{
	content:'—';
	position:absolute;
	left:0;
	top:0;
}

.text img{
	width:120%;
	display:block;
	height:auto;
	margin-left:-10%;
}

.text ol{
	counter-reset:counterli;
}

.text ol li::before{
	counter-increment: counterli;
	content:counter(counterli) '.';
}

.text strong{
	font-weight:bold;
}

.text em{
	font-style:italic;
}

.text li > a,
.text p > a{
	color:#ef244c;
	box-shadow:0 2px #ef244c;
}

.text li > a:hover,
.text p > a:hover,
.text li > a:focus,
.text p > a:focus{
	box-shadow:0 2px white;
}

.text h2,
.text h3{
	color:#ef244c;
	box-shadow:-3px 0 0 0 #ef244c;
	padding:0 1rem;
	line-height:1.2;
	margin-left:-1rem;
	font-size:2rem;
	font-weight:bold;
}

.text h3{
	font-size:1.5rem;
	color:#1ae7f0;
	box-shadow:-3px 0 0 0 rgba(255,255,255,.2);
}

.link-to-comments{
	position:absolute;
	left:-10rem;
	top:8rem;
	text-transform:uppercase;
	color:#ef244c;
	border:3px solid #ef244c;
	text-align:center;
	line-height:3.65rem;
	height:4rem;
	width:4rem;
	font-size:2rem;
	border-radius:50%;
	font-weight:bold;
	counter-increment: section;
}

.link-to-comments:hover,
.link-to-comments:focus{
	background-color:#ef244c;
	color:black;
	box-shadow:0 0 1.5rem -.15rem #ef244c;
}

.link-to-comments div{
	font-size:.95rem;
	position:absolute;
	top:100%;
	left:50%;
	transform:translateX(-50%);
	color:#b7d0e0;
	font-weight:200;
}

.share{
	position:absolute;
    width:1.2rem;
	z-index: 2;
    left: calc((100% - 720px) / 6 - 2rem);
    margin-top: -8.5rem;
}

.share span{
	text-transform: uppercase;
    transform: rotate(-90deg);
    display: inline-block;
    transform-origin: right;
    float: right;
    white-space: nowrap;
}

.share button{
	width:24px;
	height:24px;
	border:none;
	background:none;
	position:relative;
	margin-bottom:1rem;
	cursor:pointer;
	outline:none;
}

.share button g{
	fill:#ef244c;
}

.share button:hover g,
.share button:focus g{
	fill:#1ae7f0;
}

.link-to-comments + .text{
	min-height: 10rem;
}

/**
 * Commentaires
 */
.comments{
	border-top:2px solid rgba(255,255,255,.25);
	margin-top:4rem;
}

.comments > ul > li{
	margin-bottom:4rem;
	position:relative;
}

.comments > ul > li + li::before{
	content:'';
	position:absolute;
	top:-2rem;
	left:calc( (940px - 720px) / -2);
	right:calc( (940px - 720px) / -2);
	border-top:1px solid rgba(255,255,255,.2);
}

.entete-commentaires{
	display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:justify;
	justify-content:space-between;
	padding-top:4rem;
}

.titre-comment{
	font-size:2.5rem;
	text-transform:uppercase;
	font-weight:bold;
}

.new-comment-link,
.reply a{
	color: #ef244c;
	border-left:4px solid #ef244c;
	padding-left:.5em;
	padding-right:.5em;
	margin-right:-.5em;
	text-transform:uppercase;
	font-size:1.2rem;
	align-self:center;
	line-height:1.5;
	font-family:'Realtime rounded', monospace;
	background-image:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" width="500" height="100" viewBox="0 0 1 1"><rect width="1" height="1" fill="%23ef244c"/></svg>');
	background-position:-500px 0;
	background-repeat:no-repeat;
	transition: all .5s;
}

.new-comment-link:hover,
.reply a:hover,
.new-comment-link:focus,
.reply a:focus{
	/* background:var(--primary); */
	color:black;
	/* box-shadow:calc( .5em + 2px ) 0 0 var(--primary); */
	background-position:0 0;
}

.reply{
	margin-top:1rem;
	font-weight:300;
}

.reply a{
	font-size:1rem;
}

.new-comment-section{
	padding:4rem 2rem;
	background-color:#ef244c;
	color:white;
	margin-top:-2px;
}

.comment{
	width:720px;
	margin:2rem auto;
	position:relative;
	font-family:-apple-system, Helvetica Neue, sans-serif;
	font-size:1.1rem;
	line-height:1.6;
}

.comment-author{
	display:inline;
	font-weight:bold;
	font-size:1.25rem;
	color:white;
}

.comment-author img{
	position:absolute;
	top:0;
	left:-6rem;
	border-radius:50%;
	display:block;
	background:white;
}

.says{
	display:none;
}

.comment-meta{
	display:inline-block;
	color:#1ae7f0;
	font:1rem 'Realtime rounded', monospace;
	text-transform:uppercase;
	margin-bottom:.75rem;
}

.comment-meta::before{
	content:'⎯⎯⎯ ';
}

.comment .children{
	padding-left:2.5rem;
}

.comment-reply-title{
	font:500 2rem 'Realtime rounded', monospace;
	text-transform:uppercase;
}

.comment-notes,
.logged-in-as{
	font:500 1.2rem -apple-system, Helvetica Neue, sans-serif;
	margin:1rem 0 2rem;
	width:100%;
}

[class^="comment-form-"] label,
.frm_forms label{
	display:block;
	font:1rem 'Realtime rounded', monospace;
	text-transform:uppercase;
	padding-bottom:.25em;
	margin-top:2rem;
}

.frm_checkbox label{
	margin-top:0;
}

[class^="comment-form-"] input,
[class^="comment-form-"] textarea,
.frm_forms input[type="text"],
.frm_forms textarea{
	border:2px solid white;
	width:100%;
	padding:.5em 1em;
	background:transparent;
	border-radius:2px;
	outline:none;
	color:white;
	caret-color:transparent;
	font:1rem / 1.5 -apple-system, Helvetica Neue, sans-serif;
}

.frm_forms .caret,
[class^="comment-form-"] .caret{
	--primary:white;
}

.frm_forms .caret{
	height:1.5em;
}

.frm_forms textarea + .caret,
.comment-form-comment .caret{
	margin-top:10px;
}

.text .frm_forms h3{
	color:white;
	box-shadow: -3px 0 0 0 white;
	margin-top:2rem;
}

/* [class^="comment-form-"] input:hover,
[class^="comment-form-"] textarea:hover,
[class^="comment-form-"] input:focus,
[class^="comment-form-"] textarea:focus,
.frm_forms input[type="text"]:hover,
.frm_forms textarea:hover,
.frm_forms input[type="text"]:focus,
.frm_forms textarea:focus{
	background:white;
	color:var(--primary);
} */

.comment-form-comment{
	width:100%;
}

.comment-form{
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -ms-flex-pack:justify;
	justify-content:space-between;
	margin:0 auto;
}

.form-submit .submit,
.frm_forms .frm_button_submit{
	margin-top:3.4rem;
    color:#ef244c;
    background:white;
    border-radius:2px;
    font-size:1.4rem;
	padding:.8rem 5rem;
	outline:none;
	font-family:'Realtime rounded', monospace;
}

.form-submit .submit:hover,
.form-submit .submit:focus,
.frm_forms .frm_button_submit:hover,
.frm_forms .frm_button_submit:focus{
	background:white;
	color:#ef244c;
	box-shadow:0 0 1rem -.15rem white;
}

.comment-reply-title > a::before{
	content:'« ';
}

.comment-reply-title > a::after{
	content:' »';
}

.screen-reader-text{
    display:none;
}

.navigation{
	width:100vw;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	top:50%;
}

.navigation a{
	z-index:1;
}

.nav-previous,
.nav-next{
	position:absolute;
	left:1rem;
	font:300 1rem 'Realtime rounded', monospace;
	margin:0 0 0 -1px;
	text-transform:uppercase;
}

.nav-previous span,
.nav-next span{
	padding-bottom:2rem;
	color:#ef244c;
	float:left;
	transition:all .25s;
}

.nav-previous span::before,
.nav-next span::after{
	content:'';
	width:6rem;
	border-top:2px solid;
	display:inline-block;
	vertical-align:middle;
	margin:-3px 1rem 0 -1rem;
	position:relative;
	transition:all .25s;
}

.nav-next span::after{
	margin:-3px -1rem 0 1rem;
}

.nav-next{
	right:1rem;
	margin:0 -1px 0 0;
	left:auto;
}

.nav-next span{
	float:right;
}

.nav-previous div,
.nav-next div{
	clear:both;
	opacity:0;
	color:#b7d0e0;
	transition:all .25s;
}

.navigation a {
    z-index: 1;
    display: block;
	padding: 1rem;
	transition:all .25s;
	max-width:250px;
}

.navigation a:hover div,
.navigation a:focus div{
	opacity:1;
}

.navigation a:hover span,
.navigation a:focus span{
	color:black;
	padding:0 4rem 1rem 0;
}

.nav-next a:hover span::after,
.nav-previous a:hover span::before,
.nav-next a:focus span::after,
.nav-previous a:focus span::before{
	width:2rem;
}

.nav-next a:hover span,
.nav-next a:focus span{
	padding:0 0 1rem 4rem;
}

.navigation a:hover,
.navigation a:focus{
	background:#ef244c;
}

.nav-next a span::before,
.nav-previous a span::after{
	content:'＜';
	position:absolute;
	left:-3px;
	top:14px;
	font:bold 1.2rem -apple-system, Helvetica Neue, sans-serif;
	opacity:0;
	color:transparent;
	transition: all .5s;
}

.nav-next a span::before{
	content:'＞';
	left:auto;
	right:-3px;
}

.nav-next a:hover span::before,
.nav-previous a:hover span::after,
.nav-next a:focus span::before,
.nav-previous a:focus span::after{
	opacity:1;
	color:black;
}

.frm_forms{
	background:#ef244c;
	width:100vw;
	left:50%;
	position:relative;
	transform:translateX(-50%);
	color:white;
	max-width:inherit;
	padding:1rem;
}

.frm_forms form{
	max-width:1115px;
	margin:0 auto;
	font-size:1rem;
}

.frm_forms .frm_full{
	overflow:hidden;
}

.frm_message,
.frm_error_style{
	text-align:center;
	margin:2rem;
}

.content-wrapper-page{
	counter-increment: section;
}

.palier {
    display: flex;
    justify-content: center;
	background:white;
	flex-wrap:wrap;
}

.sponsors-block .titre{
	margin-bottom:4rem;
}

.palier > *{
    align-self: center;
    margin: 0 2rem;
}

.palier img{
	max-width:100%;
	height:auto;
}

.palier:last-child{
	padding-bottom:3rem;
}

.palier{
	padding-top:3rem;
}

.palier + .palier{
	padding-top:0;
}

@media (max-width:1440px) {
	.titre-single{
		width: 60%;
    	left: 10rem;
    	transform: translateX(0);
	}

	.share{
		left:5.5rem;
	}
	
}

@media (max-width:1250px) {
	.content-wrapper{
		padding-bottom:5rem;
	}

	.navigation{
		top:100%;
		margin-top:-2rem;
	}

	.navigation a{
		max-width:40vw;
	}
}

@media (max-width:1200px) {
	.content-wrapper{
		width:100%;
		padding:0 1rem 5rem calc( (1200px - 720px) / 2 );
	}

	.link-to-comments{
		left:6rem;
	}

	.actus{
		text-align:center;
	}
	
	.actu{
		float:none;
		width:100%;
		margin:0 auto;
		text-align:left;
	}
	
	.actu ~ .actu{
		width:38%;
		margin:4rem 0 0;
		display:inline-block;
	}
	
	.actu:last-child{
		margin-left:4%;
	}

	.actus.with-sidebar .actu{
		padding-left:2rem;
		width:100%;
		margin-bottom:4rem;
	}

	.loader{
		margin:2rem 1rem 0;
		border-top:1px solid #33334f;
	}

	.counter{
		padding:1rem 0 1.5rem;
		text-align:center;
	}

	.counter > *,
	.counter span i{
		display:inline;
	}

	.counter span{
		margin-left:0;
	}

	.counter i:last-child{
		display:block;
	}

	.temoignage{
		transform:none;
	}

	.header-wrapper{
		padding:0 1rem;
	}

	.comments{
		padding-left:1rem;
		padding-right:1rem;
	}

	.new-comment-section{
		margin-left:-1rem;
		margin-right:-1rem;
	}

	.frm_forms{
		transform:translateX(calc(-50% - (1200px - 2rem - 940px ) / 2 ) );
	}
}

@media (max-width:980px) {

	.comment{
		width:100%;
		padding-left:5rem
	}

	.comment-author img{
		left:0;
	}

	.comment .children{
		padding-left:0;
	}

	body{
		border:none;
	}

	.actus{
		padding:0 1rem;
	}
	 
	.actu ~ .actu,
	.actu{
		width:100%;
		margin:4rem auto 0;
	}

	.actus.with-sidebar .actu{
		margin-top:0;
	}
	
	.actu .link{
		max-width:100%;
		font-size:1.75rem;
	}

	.headline .cta,
	.slogan,
	.menu-menu-principal-container{
		position:fixed;
    	bottom:1rem;
    	left:1rem;
    	right:1rem;
		text-align:center;
		z-index:12;
	}
	.slogan{
		overflow:hidden;
		text-indent:-2000px;
		bottom:0;
		left:0;
		right:0;
		background:#020b15;
		height:8rem;
		box-shadow:0 -1rem 3rem #020b15;
	}
	.slogan > *{
		display:none;
	}
	.menu-menu-principal-container{
		overflow:hidden;
		overflow-x:auto;
		bottom: 4rem;
		background: #020b15;
		border-top:1px solid #33334f;
		-webkit-overflow-scrolling: touch;
  		-ms-overflow-style: -ms-autohiding-scrollbar;
	}
	.service{
		padding:1rem;
		font-size:1rem;
		margin: 2rem auto 0;
	}

	.image-full-wrapper{
		padding:1rem;
		display:block;
	}

	.image-full-wrapper img{
		display:none;
	}

	.home .headline{
		padding:0;
	}

	.logo{
		margin:0 auto;
	}

	.home .header-wrapper .logo,
	.home .header-wrapper hr,
	.titre::before{
		display:none;
	}

	.titre{
		padding:0 1rem 2rem;
		text-align:left;
		line-height:1;
	}

	.titre::after{
		left:1rem;
		transform:none;
	}

	.description{
		padding:3rem 0;
	}

	.titre-secondaire{
		font-size:1.5rem;
	}

	.temoignages .temoignage .portrait{
		width:13rem;
    	height:16.1rem;
	}

	.temoignage:nth-child(even) > div::before{
		margin-top:-1rem;
	}

	.impact, .temoignages-wrapper, .actus{
		margin:0 auto;
    }
    
    .hgroup{
        max-width:auto;
        position:relative;
        transform:translate(0,0);
        left:auto;
        top:auto;
    }

	.hgroup h1{
		font-size:15vw;
	}

	.hgroup .baseline{
		font-size:5.5vw;
	}

	.hgroup .emphase{
		font-size:4.5vw;
	}
	
	.image-article-wrapper{
		padding:0 1rem;
	}

	.titre-single {
		width:100%;
		left:0;
		padding:0 1rem 0 10rem;
		font-size:3rem;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.form-submit{
		width:48%;
	}

	.navigation{
		display:none;
	}

	.content-wrapper-page{
		padding:0 1rem;
	}

	.frm_forms{
		transform:translateX(-50%);
	}

	.text img{
		width:100%;
		margin-left:0;
	}
}

@media (max-width:780px) {
	.actus.with-sidebar{
		width:100%;
		margin:2rem 0;
	}

	.actus.with-sidebar .actu,
	.actus.with-sidebar + .sidebar{
		width:100%;
		padding:1rem;
		margin-bottom:1rem;
	}
	.actus.with-sidebar + .sidebar{
		margin-top:0;
		margin-bottom:2rem;
	}
}

@media (max-width:700px){
	.share,
	.link-to-comments{
		display:none;
	}

	.titre-single {
		padding:0 3rem;
	}

	.content-wrapper{
		padding:0 1rem;
	}
}

@media (max-width:580px){
	.temoignage{
		display:block;
		position:relative;
		margin:4rem auto;
		padding-top:10rem;
	}

	.temoignage-nom, .temoignage-role{
		margin-left:0;
	}

	.temoignage .portrait{
		position:absolute;
		width: 16rem;
		height: 19.5rem;
		top:0;
		left:50%;
		margin:0;
		transform:translateX(-50%);
	}

	.temoignages .temoignage > div::before{
		margin-top:0;
	}

	.titre{
		font-size:2.25rem;
	}

	.titre-secondaire img {
		margin-right: 1rem;
		vertical-align: middle;
		width: 3rem;
	}

	.impact .important{
		font-size:1.5rem;
		padding:2rem 1rem 5rem;
	}

	.newsletter-form{
		padding:0 1rem;
	}

	.titre-single{
		font-size:2.5rem;
		position:relative;
		padding:1rem;
		bottom:0;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url,
	.form-submit{
		width:100%;
	}

	.new-comment-link{
		display:none;
	}

	.comment{
		padding-left:0;
	}

	.comment .children{
		padding-left:2rem;
	}

	.comment-author img{
		display:none;
	}
}

@media (max-width:450px) {
	.loader{
		margin-top:1rem;
	}

	.description{
		padding:1.5rem 0;
	}

	.titre{
		font-size:1.75rem;
	}

	.counter{
		font-size:.75rem;
	}

	.amount{
		font-size:2.5rem;
	}

	.impact .important{
		font-size:1.25rem;
		line-height:1.75;
	}

	.temoignage .portrait{
		width: 14rem;
		height: 18rem;
		top:0;
		left:50%;
		margin:0;
		transform:translateX(-50%);
	}
}
#background{
	position:fixed;
	top:0;
	left:0;
	z-index:-1;
}